body
{
   background-color: aqua;
   display:flex;
   align-items: center;
   justify-content: center;
   margin-top: 10rem;
}

.calculator {
    border: 3px solid yellow;
    padding : 1rem;


}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 10px;
}

button {
   background-color: blue;
   color:antiquewhite;
   margin: 0.2rem;
   font-size: 3rem;

   &:hover {
      background-color: orangered;
      color: yellow;
      transition: all 0.3s ease;
   }


}

#result {
   width: 100%;
   font-size: 25px;
   border: 3px solid red;
   margin-bottom:20px;
   



}